@use './../../../scss/variables.scss' as *;


header {
	width: 100%;
	height: 73px;
	display: flex;
	align-items: center;
	box-shadow: 0 2px 30px 4px rgba(0, 0, 0, 0.1);
	background: #fff;

	@media (min-width: $container-width) {
		height: 96px;
	}
	.wrapper {
		@include wrapper;	
		display: flex;
		align-items: center;
		justify-content: space-between; 
	};

	.left {
		padding-left: 13px;
		// width: 80%;		
	}

	.left, .right {
		display: flex;
		align-items: center;
	}
};



