@use './../../../../scss/variables.scss' as *;

.menu {
	display: none;

	@media (min-width: $container-width) {
		display: flex;
		align-items: center;
		color: #000;
		list-style: none;
		gap: 23px;
		padding: 0;
	}
}