.button {
	background-color: #3d3f43;
	color: #fff;
	padding: 15px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover {
		background-color: #222;
	}
}